:root {
  --my-scale: 1;
}

.kingsize {
  --my-scale: 1.3;
}

.main-item {
  font-size: 12pt;
}

.mdc-checkbox,
.mdc-checkbox-frame,
.mdc-checkbox-background,
.mdc-checkbox-anim-unchecked-checked,
.mdc-checkbox-anim-checked-unchecked {
  transform: scale(var(--my-scale));
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control {
  width: 32px !important;
  height: 32px !important;
}

.striked-text {
  text-decoration: line-through;
}
