.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: animateWidth 3s infinite;
  position: relative;
}

.sectionContainer > textarea {
  flex: 1 1 auto;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.error-msg {
  margin-top: 20px;
  color: red;
}

.data-valid {
  margin-top: 20px;
}

.upload-zone {
  margin-top: 20px;
}

.radius {
  border-radius: 7px;
}

::ng-deep .snack-style {
  background-color: rgb(129, 165, 184);
  color: black;
  font-weight: bold;
}
