<div class='pad10' style='min-height: 100%;'>

  <div>
    <ng-container *ngIf="!dbIsValid">
      <div class='container'>
        Please paste JSON data in area below
        <textarea class='radius' id='dbData' (paste)="onDataPasted($event)" rows='5' [(ngModel)]="textData"></textarea>
      </div>

      <div class='upload-zone' fxLayout='column' fxLayoutAlign='start center'>
        <input hidden #upload type='file' id='upload' (change)="onUpload($event)" />
        <span>Or select a file on your device</span>
        <button mat-raised-button color="primary" type='button' (click)="upload.click()">Select file</button>
      </div>
    </ng-container>

    <div *ngIf="dbIsValid" class='data-valid'>
      <span class='fb'>Data is valid.</span><br />
      Backup date: {{ dbDate | date:'yyyy-MM-dd HH:mm' }}<br />
      Version: {{ dbVersion }}<br />
      <br />
      <div *ngIf="!isRestoring">
        How do we restore this data?<br />
        <mat-radio-group (change)="onRadioChange($event)" [(ngModel)]="restoreMode">
          <mat-radio-button value="R" color="primary">Replace</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="M" color="primary">Merge</mat-radio-button>
        </mat-radio-group><br />
        <br />

        <button mat-raised-button color="primary" type="button" (click)="onRestoreClick()">
          Restore
        </button>&nbsp;
        <button mat-raised-button color="accent" type="button" (click)="onCancelClick()">
          Cancel
        </button>
      </div>

      <div *ngIf="isRestoring" fxLayoutAlign="center center" style='min-height: 100%;'>
        <mat-spinner></mat-spinner>
      </div>

    </div>

    <div *ngIf="error" class="error-msg">
      An error occured. Please ensure that your data is complete and coming from this app.
    </div>
  </div>
</div>