.img-row img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.main-bloc {
  margin-top: 15px;
  font-size: 18px;
  line-height: 25px;
}

.fine-print {
  font-size: 11px;
  margin-bottom: 10px;
}