.refresh-fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  left: auto;
}

.header-lnk {
  display: block;
  font-size: 14pt;
  padding-top: 15px;
  padding-bottom: 10px;
  text-decoration: none;
}

@mixin header-lnk-theme($theme) {
  $foreground: map-get($theme, foreground);
  .header-lnk {
    color: mat-color($foreground, text) !important;
  }
}
