<div *ngIf="cleaned">

  <mat-accordion multi="true" displayMode='flat' class="cpc">
    <mat-expansion-panel *ngFor="let category of categories" [expanded]="category.isDefault" class="mat-elevation-z0">

      <mat-expansion-panel-header collapsedHeight="20" expandedHeight="20">
        <mat-panel-title>
          {{ category.text }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let header of category.headers">
        <a href="#" class='header-lnk' [routerLink]="['/Liste', category.id, header.id]">{{ header.text }}</a>
        <app-check-list [header]="header" [fromConsol]="true"></app-check-list>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <button mat-mini-fab color="primary" type="button" (click)="onRefreshClick()" class="refresh-fab" matTooltip="Refresh view">
    <mat-icon>refresh</mat-icon>
  </button>

</div>