.refresh-fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  left: auto;
}

.header-row {
  padding-top: 15px;
  padding-bottom: 10px;
}

.header-lnk {
  font-size: 14pt;
  display: block;
  text-decoration: none;
}

@mixin header-lnk-theme($theme) {
  $foreground: map-get($theme, foreground);
  .header-lnk {
    color: mat-color($foreground, text) !important;
  }
}

.mini-menu {
  font-size: 11pt;
  box-sizing: border-box;
  padding: 5px;
}

.mat-menu-panel {
  background-color: 'red' !important;
}
