<div *ngIf="cleaned" class="pc-consol">

  <mat-accordion multi="true" displayMode='flat' class="cpc">
    <mat-expansion-panel *ngFor="let category of categories" [expanded]="category.isDefault" class="mat-elevation-z0">

      <mat-expansion-panel-header collapsedHeight="20" expandedHeight="20">
        <mat-panel-title class='my-panel-header-title'>
          {{ category.text }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let header of category.headers">

        <div fxLayout='row' class='header-row'>
          <div fxFlex="90" fxLayoutAlign="start center">
            <a href="#" class='header-lnk' [routerLink]="['/Liste', category.id, header.id]">{{ header.text }}</a>
          </div>
          <div fxFlex="10" fxLayoutAlign="end center">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>

        <mat-menu #menu="matMenu">
          <div class='mini-menu'>
            <div fxLayoutAlign="center center" class='fb'>{{ header.text }}</div>
            <button mat-menu-item (click)="quickAddToggle(header.id)">Quick Add</button>
            <button *ngIf="isListHaveDone(header)" mat-menu-item (click)="removeDone(header)">Remove Done</button>
          </div>
        </mat-menu>

        <app-check-list [header]="header" [fromConsol]="true"></app-check-list>
        <app-quick-add *ngIf="header.id===quickHeaderId" class="cpc" [idHeader]="header.id" (itemAdded)="onItemAdded($event)"></app-quick-add>

      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <button mat-mini-fab color="primary" type="button" (click)="onRefreshClick()" class="refresh-fab" matTooltip="Refresh view">
    <mat-icon>refresh</mat-icon>
  </button>

</div>
