.c1 {
  margin-top: 10px;
}

.add-fab {
  position: fixed;
  right: 20px;
  bottom: 10px;
  left: auto;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  max-height: 78vh;
  overflow: auto;
}
