<div fxLayout="column" fxLayoutAlign="stretch stretch">

  <div class='pad10' fxFlexFill>

    <form *ngIf="formVisible" (submit)="formSubmitted($event)">

      <mat-form-field style='width: 150px;'>
        <mat-label>List name</mat-label>
        <input name="txtListName" matInput type="text" [(ngModel)]="listName">
      </mat-form-field>
      &nbsp;<button mat-raised-button color="primary" [disabled]="listName===''">Add</button>&nbsp;
      <button mat-raised-button color="accent" type="button" (click)="toggleFormVisibility()">
        <mat-icon>close</mat-icon>
      </button>
      <br />
      <!-- <mat-divider></mat-divider> -->

    </form>

    <mat-form-field class='cpc' *ngIf="categories" >
      <mat-select placeholder="Category" name="category" (selectionChange)="onCategorySelected($event)" [(ngModel)]="selectedCategoryId">
        <mat-option [value]="0">
          <span class='red'>One Shot Deal</span>
        </mat-option>
        <mat-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <div *ngIf="headers"> -->
      <mat-card-subtitle>Existing lists</mat-card-subtitle>
      <div class='scroll-container'>
        <mat-nav-list>
          <a mat-list-item *ngFor="let header of sortedHeaders" [routerLink]="['/ManageItem', header.id]">
            {{ header.name }} {{ itemCount(header.id) }}
          </a>
        </mat-nav-list>
      </div>
    <!-- </div> -->

    <button mat-mini-fab color="primary" type="button" (click)="toggleFormVisibility()" class="add-fab"
      matTooltip="Add list">
      <mat-icon *ngIf="!formVisible">add</mat-icon>
      <mat-icon *ngIf="formVisible">remove</mat-icon>
    </button>

  </div>
</div>