<mat-tab-group #tabgroup *ngIf="loaded" [selectedIndex]="tabIndex">

  <mat-tab *ngFor="let header of sortedHeaders()">

    <ng-template mat-tab-label>
      {{ header.text }}
    </ng-template>

    <app-check-list [header]="header" [fromConsol]="false" (itemClicked)="onItemClicked($event)"></app-check-list>

    <mat-toolbar class='pos-bottom cpc'>
      <app-quick-add class="cpc" [idHeader]="header.id" (itemAdded)="onItemAdded($event)"></app-quick-add>
    </mat-toolbar>

  </mat-tab>

</mat-tab-group>