<div *ngIf="loaded">
  <div *ngIf="!isQuick">
    <app-header-menu (selected)="headerSelected($event)" [listHeaders]="sortedHeaders()" [selectedIdHeader]="selectedIdHeader"></app-header-menu>
    <app-check-list [header]="header" [fromConsol]="false" (itemClicked)="onItemClicked($event)"></app-check-list>
    <mat-toolbar class='pos-bottom cpc'>
      <app-quick-add class="cpc" [idHeader]="header.id" (itemAdded)="onItemAdded($event)"></app-quick-add>
    </mat-toolbar>
  </div>

  <div *ngIf="isQuick">

    <div class="quick-title">
      <div fxLayout="row">
        <div fxFlex="90" fxFlexFill fxLayoutAlign="start center">
          {{ headers[0].text }}
        </div>
        <div fxFlex="10" fxLayoutAlign="end center">
          <mat-icon *ngIf="nbUnchekedItems(headers[0]) > 0" [matMenuTriggerFor]="menu">more_vert</mat-icon>
        </div>

        <mat-menu #menu="matMenu">
          <div class='mini-menu'>
            <div fxLayoutAlign='center center' class='fb'>{{ headers[0].text }}</div>
            <button mat-menu-item (click)="confirmCompletedRemoval(headers[0])">Remove Completed</button>
          </div>
        </mat-menu>

      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="pad10">
      <app-check-list [header]="headers[0]" [isQuick]="true" [fromConsol]="false" (itemClicked)="onItemClicked($event)">
      </app-check-list>
    </div>

    <mat-toolbar class='pos-bottom cpc'>
      <app-quick-add class="cpc" [idHeader]="headers[0].id" (itemAdded)="onItemAdded($event)"></app-quick-add>
    </mat-toolbar>

  </div>
</div>