<div class='pad10'>

  <div>

    <mat-card-title>Manage list
      <b [contentEditable]="true" (keypress)="onKeypress($event)" (input)="onNameChanged($event)">{{ title }}
      </b>
    </mat-card-title><br />

    <mat-form-field *ngIf="categories">
      <mat-select placeholder="Category" name="category" (selectionChange)="onCategorySelected($event)"
        [(ngModel)]="header.idCategory">
        <mat-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="list-item" *ngIf="items && items.length > 0">
    <mat-card-subtitle>Existing items</mat-card-subtitle>

    <div #scrollzone class='scroll-container'>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of items" [routerLink]="['/Manage/EditItem', header.id, item.id]"><span [innerHtml]="getLinkText(item)"></span></a>
      </mat-nav-list>
    </div>
  </div>

  <div *ngIf="!items || items.length == 0" class="no-item">
    No item defined yet
  </div>

</div>

<mat-toolbar class='pos-bottom cpc' fxLayoutAlign="space-evenly center">

  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button *ngIf="items && items.length > 0" mat-icon-button aria-label="Clear item list" (click)="confirmClear()">
    <mat-icon>delete_sweep</mat-icon>
  </button>

  <button mat-icon-button aria-label="Delete list" (click)="confirmDelete()">
    <mat-icon>delete_forever</mat-icon>
  </button>

</mat-toolbar>

<button mat-mini-fab color="primary" type="button" class="add-fab" matTooltip="Add item" (click)="addItem()">
  <mat-icon>add</mat-icon>
</button>