<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>

      <div *ngIf="isHandset$ | async">

        <a mat-list-item href="#" (click)="drawer.toggle()" [routerLink]="['/Liste']">List</a>
        <a mat-list-item href="#" (click)="drawer.toggle()" [routerLink]="['/Consolidated']">Consolidated</a>

        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Categories
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a mat-list-item *ngFor="let cat of categories" href="#" (click)="drawer.toggle()"
              [routerLink]="['/Liste', cat.id]" [ngClass]="{'fb': cat.isDefault}">{{ cat.name }}</a>

          </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <a mat-list-item href="#" (click)="drawer.toggle()" [routerLink]="['/Manage']">Manage</a>
        <a mat-list-item (click)="changeTheme(drawer)">{{ nextTheme }}</a>

        <!-- <button mat-menu-item (click)="changeTheme(drawer)">{{ nextTheme }}</button> -->
      </div>

      <div *ngIf="!(isHandset$ | async)">
        <a mat-list-item href="#" [routerLink]="['/Liste']">List</a>
        <a mat-list-item href="#" [routerLink]="['/Consolidated']">Consolidated</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="#" [routerLink]="['/Manage']">Manage</a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxLayout='row' fxFlexFill>

        <div fxFlex="80" fxLayoutAlign="start center">
          <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span><b>Lister 0.8j</b>&nbsp;<sup style='font-size: 8pt;'>by JFG</sup></span>
        </div>

        <div fxFlex="20" fxLayoutAlign="center center" class='cat-name'>
          {{ selectedCategoryName }}
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
