<div fxLayout="column" fxLayoutAlign="stretch stretch">

  <div class='pad10' fxFlexFill>

    <form *ngIf="formVisible" (submit)="formSubmitted($event)">
      <div>

        <div fxLayout='row'>
          <div fxFlex="85">
            <mat-form-field class='cpc'>
              <mat-label>Category name</mat-label>
              <input name="txtListName" matInput type="text" [(ngModel)]="categoryName">
              <div class='err-mess' *ngIf="errorMessage !== ''">{{ errorMessage }}</div>
            </mat-form-field>
            <!-- <div class='err-mess' *ngIf="errorMessage !== ''">
              {{ errorMessage }}
            </div> -->
          </div>

          <div fxFlex="15" *ngIf="actionVerb !== 'Add'">
            <button mat-icon-button type="button" (click)="onDeleteCategory()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>

        <mat-checkbox color="primary" (change)="onCheckboxChange($event)" [checked]="categoryIsDefault">Default category
          at startup
        </mat-checkbox><br />
        <br />

        <div fxLayoutAlign="end center">
          <button mat-raised-button color="primary" [disabled]="categoryName===''">{{ actionVerb }}</button>&nbsp;
          <button mat-raised-button color="accent" type="button" (click)="toggleFormVisibility()">
            Return
          </button>&nbsp;
        </div>
      </div>

      <br />
      <mat-divider></mat-divider>

    </form>

    <!-- <div *ngIf="headers"> -->
    <mat-card-subtitle>Existing categories</mat-card-subtitle>
    <div class='scroll-container'>
      <mat-nav-list>
        <a mat-list-item [ngClass]="{'fb': category.isDefault}" *ngFor="let category of sortedCategories"
          (click)="onCategoryClick(category)">
          {{ category.text }}
        </a>
      </mat-nav-list>
    </div>
    <!-- </div> -->

    <button mat-mini-fab color="primary" type="button" (click)="toggleFormVisibility()" class="add-fab"
      matTooltip="Add category">
      <mat-icon *ngIf="!formVisible">add</mat-icon>
      <mat-icon *ngIf="formVisible">remove</mat-icon>
    </button>

  </div>
</div>
