.add-fab {
  position: fixed;
  right: 20px;
  bottom: 55px;
  left: auto;
}

.no-item {
  margin-top: 20px;
  color: #808080;
  text-align: center;
}

.pos-bottom {
  position: fixed;
  bottom: 0;
}

.icon-kit {
  font-size: 9pt;
}