<div class='pad10'>
  <mat-card-title>{{ verb }} item for <b>{{ header.name }}</b></mat-card-title>

  <form (submit)="formSubmitted($event)">

    <div fxLayout='row'>
      <div fxFlex="85">
        <mat-form-field class="cpc">
          <mat-label>Item text</mat-label>
          <input name="txtItemText" matInput type="text" [(ngModel)]="item.text">
        </mat-form-field>
      </div>
      <div fxFlex="15">
        <button mat-icon-button type="button" (click)="onDeleteItem()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div (click)="onIncrementSubItem()" [ngClass]="canAddSubItem() ? '' : 'disabled'" fxLayoutAlign="start center">
      <mat-icon>add_circle</mat-icon>&nbsp;
      <span>Add Sub Item</span>
    </div>

    <!-- <div (click)="onIncrementSubItem(1)" fxLayoutAlign="start center">
      <mat-icon [color]="canAddSubItem() ? 'primary' : ''">add_circle</mat-icon>&nbsp;
      <span [ngClass]="canAddSubItem() ? '' : 'disabled'">Add Sub Item</span>
    </div> -->

    <div *ngIf="nbSubItem > 0" class="cpc">
      <br />
      <div fxLayout='row'>
        <div fxFlex="85">
          <mat-form-field class="cpc">
            <mat-label>Sub item #1</mat-label>
            <input name="txtSubText1" matInput type="text" [(ngModel)]="subItemText1">
          </mat-form-field>
        </div>
        <div fxFlex="15">
          <button mat-icon-button type="button" (click)="onDecrementSubItem()" *ngIf="nbSubItem===1">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout fxLayout='row' *ngIf="nbSubItem > 1">
        <div fxFlex="85">

          <mat-form-field class="cpc">
            <mat-label>Sub item #2</mat-label>
            <input name="txtSubText2" matInput type="text" [(ngModel)]="subItemText2">
          </mat-form-field>
        </div>
        <div fxFlex="15">
          <button mat-icon-button type="button" (click)="onDecrementSubItem()">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <br />

    <div fxLayoutAlign="end center">
      <button mat-raised-button color="primary" [disabled]="item.text===''">Save</button>&nbsp;
      <button mat-raised-button color="accent" type="button" (click)="cancel()">Return</button>
    </div>

    <br />
    <br />
    <mat-checkbox *ngIf="verb==='Add'" class="add-more" color="primary" name="chkAddMore" [(ngModel)]="addMore">
      Continue adding item
    </mat-checkbox>

  </form>

</div>