:root {
  --my-scale: 1;
}

.kingsize {
  --my-scale: 1.5;
}

.check-item {
  font-size: 16pt;
}

.mat-checkbox-frame,
.mat-checkbox-background,
.mat-checkbox-anim-unchecked-checked
.mat-checkbox-anim-checked-unchecked {
  transform: scale(var(--my-scale));
}