.item-spacing {
  margin-bottom: 7px;
}

.my-pad {
  padding-left: 5px !important;
  padding-top: 5px !important;
}

.scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
