.item-spacing {
  margin-bottom: 7px;
}

.my-pad {
  padding-left: 0 !important;
  padding-top: 0 !important;
}

.scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 100%;
}
