@import "@angular/material/prebuilt-themes/deeppurple-amber.css";


/************************
 Theming related includes
************************/

@import '~@angular/material/theming';
@include mat-core();


/************************
 Default global styles
************************/

html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  overflow: hidden;
}

.pos-bottom {
  position: fixed;
  bottom: 0;
}

.red {
  color: red;
}
.orange {
  background-color: orange;
}

.prel {
  position: relative;
}

.pad10 {
  padding: 10px;
  box-sizing: border-box;
}

.tar {
  text-align: right;
}

.cpc {
  width: 100%;
}

.ovh {
  overflow: hidden;
}

.pf {
  position: fixed;
}

.fb {
  font-weight: bold;
}

.err-mess {
  font-style: italic;
  color: red;
  font-size: smaller;
}

.mart10 {
  margin-top: 10px;
}
/************************
 Theming section
 From: https://medium.com/@PhilippKief/automatic-dark-mode-detection-in-angular-material-8342917885a0
************************/

// Custom themable components
@import "app/components/main-nav/main-nav.component";
@import "app/components/list/quick-add/quick-add.component";
@import "app/components/list/consolidated-view/consolidated-view.component";

@mixin custom-components-theme($theme) {
  @include sidenav-theme($theme);
  @include quick-input-theme($theme);
  @include header-lnk-theme($theme)
}

// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

