@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.orange {
  background-color: orange;
}

.prel {
  position: relative;
}

.pad10 {
  padding: 10px;
  box-sizing: border-box;
}